##-----------------------------------------------------------------------------
## COPYRIGHT ? 
##-----------------------------------------------------------------------------
#property('description', 'Destroy service')
#device($alteon, 'type=alteon', 'prompt=Choose Alteon')
#select($alteon)

#param($service_name, 'type=string', 'direction=in')
#set($group_id = "${service_name}_group")

#set($search_server = $alteon.newBean('SlbNewCfgEnhGroupRealServerEntry'))

##calls the bean that maps a group to real servers
#set($search_server.RealServGroupIndex = $group_id)

##sets the group identifier
#set($found_servers = $alteon.readAll($search_server))

##returns all beans that have an index matching the group identifier
#foreach($found_server in $found_servers)
##delete real servers associated with the group
  /c/slb/real $found_server.ServIndex
  del
#end

##calls the bean that maps for filters
#set($search_filters = $alteon.newBean('FltCurCfgTableEntry'))
#set($found_filters = $alteon.readAll($search_filters))
#foreach($found_filter in $found_filters)
  /c/slb/filt $found_filter.indx
        del
#end

##calls the bean that maps for interfaces
#set($search_interfaces = $alteon.newBean('/c/l3/if'))
#set($found_interfaces = $alteon.readAll($search_interfaces))
#foreach($found_interface in $found_interfaces)
  /c/l3/if $found_interface.index
        del
#end

##delete the virtual service
/c/slb/virt $service_name
del

##delete the group
/c/slb/group $group_id
del

/c/slb/adv
  direct dis
  vstat dis
  vmasport dis
  submac dis

/c/slb
del

## Apply the configurations and save
        apply
        save

